body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: smaller;
}

header{
    width: 100%;
    height: 60%;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-derecha{
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

nav .nav-derecha a {
    margin-right: 10px;
    color: black;
}

nav .nav-derecha .menu-icono{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    cursor: pointer;
}

#btn-acceder {
    font-size: smaller;
    background-color: #4285f4;
    margin-left: 10px;
    border: 1px solid #4285f4;
    color: aliceblue;
    border-radius: 5%;
    padding: 6px;
    /*padding controla el largo del boton Acceder*/
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 50px;
    cursor: pointer;
}

/*Estilos barra de navegacion etc*/
main {
    margin-top: 100px;
    /*Margin top funciona para el espacio que habra arriba de la imagen*/
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img {
    width: 272px;
}

main .main-input {
    /* width = Ancho */
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #e1e2e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
}

main .main-input input {
    width: 450px;
    height: 30px;
    border: none;
    outline: none;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
    margin: 5px;
}

main .main-input .search-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input .micro-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
    /*cursor pointer: hace que al pasar el cursor cambia la flecha*/
}

main .main-buttons button {
    height: 36px;
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
    color: #3c4043;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px;
}

main .main-buttons button:hover {
    border: 1px solid #dadce0;
    box-shadow: 1px #dadce0;
    color: black;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;    
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding: 0in;
}

footer .footer-izquierda {
    justify-content: left;
}

footer .footer-derecha {
    justify-content: right;
}

footer ul li a {
    margin: 8px;
    font-size: 12px;
    color: black;
}


